@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: #A8A8B2;
    font-size: 1em;
}

div * {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #232425;
    gap: 3em;
}

.content-paragraph {
    width: 90%;
    max-width: 70ch;
    text-align: justify;
    font-size: 1em;
    padding: 0 .5em;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signature {
    text-align: center;
    font-size: 2em;
    padding: .5em 0;
}

.name {
    font-weight: 600;
}

.designation {
    font-family: "Nanum Gothic", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.5em;
    padding: 0 0 0.5em 0;
}

.channels {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: .5em 0;
    column-gap: 1em;
}

@media only screen and (min-width: 768px) {

    html,
    body {
        padding: 0;
        margin: 0;
        font-size: 1.1em;
    }

    .container {
        padding: 0;
    }

    .content-paragraph {
        font-size: 1em;
        width: 70ch;
        max-width: 100%;
    }

    .signature {
        text-align: left;
    }
}